img {
    max-width: 75%;}
header {
    color:turquoise;
    text-align: center;
}
main {
    max-width:400px;
    margin:auto;
    text-align: center;
}


@media(min-width:768px){
    header {background-color:purple;}
    main {max-width:500px;
    background-color:rgb(220, 245, 244);
    color: navy;
}
}
@media(min-width:1023px){
    header {background-color:peru;}
    main {max-width:700px;
        background-color:beige;
        color:fuchsia}
    }
    