.indigo-bg {
    background-color: rgb( 105, 93, 217)
}
.ocean-bg {
    background-color: rgb(98, 120, 227)
}

.slate-bg {
    background-color: rgb(98, 144, 204)
}

.turquoise-bg {
    background-color: rgb(98, 188, 227)
}

.sea-bg {
    background-color: rgb(93, 212, 217)
}


