body {
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    padding-left: 0px;
}
main {
    max-width: 1200px;
    padding: 2rem;
}
img {
    max-width: 80%;
    max-height: 80%;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color:#CDD9BA;
}

.logo-container {
    background-color: #A3BFD9;

}

nav ul {
    margin: 0px;
    padding-left: 0px;
    list-style: none;
    text-align: center;
}

nav ul li {
    padding: 10px;
    border-bottom: 2px solid rgb(43, 43, 43);
}

nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    font-size:25px;

}
.main-info {
    display: flex;
    text-align: center;
    padding: 2rem;
    flex-direction: column;

}
.main-p {
    align-self: center;
    
}
.main-h1 {
    font-size: 30px;
    display: flex;
    align-self: center;

}
.gallery {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    flex-wrap: wrap;
    
}
.gallery img {
    display:flex;
    align-self: center; 

}
.footer-container {
    background-color: #A3BFD9;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.footer-container ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}
.footer-list-item {
    padding:10px;
}
.services-section{
    text-align: center;
    padding: 10px;
}
.services-li-item {
    padding: 10px;
}
.services-ul {
    margin:20px;
    padding:10px;
}
.about-section { 
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2rem;
     
}
.brfish {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}
.about-h1 {
    display: flex;
    align-self: center;
}
.about-p {
    align-self: center;
    margin:20px;
    padding:10px;
}


@media(min-width: 960px){
    .navbar {
        flex-direction: row;
        max-width: 1200px;
    }

    nav.navbar {
        justify-content: space-between;
    }

    ul.navbar {
        align-items: flex-end;
    
    }

    nav ul li {
        border-bottom: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    nav ul li:first-child {
        border-left: 0px;
    }

    nav ul li:last-child {
        border-right: 0px;
    }
    .gallery {
        flex-direction: row;
        height: auto;
    }
    .gallery img {
        max-width: 40%;
        max-height: 40%;
        flex-wrap: wrap;
        
    }
    .about-section {
        align-items: center;
    }
  
  
}



